@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('mybox.css');
@import url('table.css');

:root {
  --cor-1: #1c2a50cc;
  --cor-2: #3079e6;
  --cor-3: #6497e4;
  --cor-4: #7030e6;
  --cor-5: #c230e6;
  --cor-gray: #4e526d;
  --cor-gray2: #3e3e3e;
  --cor-gray3: #242424;
  --cor-black: #0f0f0f;
  --cor-link: rgba(0, 214, 218, 0.735);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
}

div#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main{
  flex-grow: 1;
  background: #000;
}

h1 {
  color: var(--cor-1);
  font-size: 3em;
}

a{
  text-decoration: none;
}

a:hover{
  background: linear-gradient(to right, var(--cor-2), var(--cor-4), var(--cor-5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}